{% extends 'oscar/layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %} | {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<nav class="breadcrumb">
    <ul>
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
            <li>
                <a href="{% url 'password-reset' %}">{% trans 'Password reset' %}</a>
            </li>
        <li class="active"><a href="">{% trans 'Complete' %}</a></li>
    </ul>
    
</nav>
{% endblock %}

{% block headertext %}{% trans "Password reset complete" %}{% endblock %}

{% block content %}
    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    <p><a href="{{ login_url }}" class="rad btn btn-lg btn-primary">{% trans 'Log in' %}</a></p>
{% endblock %}
